* {
  font-family: "M PLUS Rounded 1c", Avenir Next, Helvetica, sans-serif;
  color: white;
}

body {
  background: lightcoral;
}

.wrapper {
  height: 525px;
  width: 360px;
  color: white;
  background: gray;
  border-radius: 1rem;
  padding: 1.2rem;
  margin: 100px auto;
}

#topContainer {
  margin-top: 4rem;
}

.container {
  margin-top: 1.4rem;
}

.title {
  font-weight: bold;
  margin-bottom: 0.6rem;
}

.inputContainer {
  background: coral;
  border-radius: 1.4rem;
  padding: 0 0.8rem;
  display: flex;
  align-items: center;
}

#billTotalInput,
#tipInput {
  font-size: 1.2rem;
  background: none;
  border: none;
  outline: none;
  padding: none;
}

.buttonContainer {
  background: coral;
  display: grid;
  place-items: center;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
}

.splitButton {
  background: none;
  border: none;
}
